<nav v-show="showBoards" id="boards" v-transition="boards">
  <p class="text-center"><strong>Boards</strong></p>
  <hr class="dark-divider">

  <ul v-repeat="board: boards">
    <li>{{board.name}}</li>
  </ul>
</nav>
