<nav v-show="showBoards" id="boards" v-transition="boards">
  <p class="text-center">
    <strong>Boards</strong>
    <button type="button" class="close" v-on="click: showBoards = false">
      <span aria-hidden="true">×</span>
    </button>
  </p>
  <hr class="dark-divider">

  <p class="text-center">
    {{boards.length}} {{boards.length | pluralize 'board'}}
  </p>

  <div class="form-group">
    <input v-model="searchBoards" class="form-control" placeholder="Search boards...">
  </div>
  <ul class="nav nav-sidebar">
    <li v-repeat="board: boards | filterBy searchBoards" class="list-unstyled">
      <a href="#" v-on="click: setCurrentBoard(board)">
        <span class="color-box" style="background-color:#{{board.background_color}};"></span>{{board.name}}</a>
    </li>
  </ul>
</nav>
