<nav v-show="showSettings" id="settings" transition="settings">
  <p class="text-center">
    <strong>Settings</strong>
    <button type="button" class="close" @click="showSettings = false">
      <span aria-hidden="true">×</span>
    </button>
  </p>
  <hr class="dark-divider">

  <p>
    <label for="board['name']">Board Name</label>
    <input type="text" v-model="currentBoard.name" class="form-control">
  </p>

  <p>
    <label>Background Color</label>
  </p>
  <!-- <input type="text" placeholder="519839" v-model='board.backgroundColor' class="form-control"> -->
  <div class="colors mb2">
    <span v-for="color in colors" class="color-box" v-bind:style="{ backgroundColor: '#' + color }" @click="changeBackground(color)"></span>
  </div>

  <button class="btn btn-success btn-block" @click="saveBoardSettings">Save</button>
</nav>