@import "variables";

/* hr */
.dark-divider {
  border-top: 1px solid #d6dadc;
}

/* sidebar */
.nav-sidebar {
  li {
    list-style: none;

    a {
      color: $primary;

      &:hover {
        background-color: #f2f2f2;
      }

      .color-box {
        border-radius: 3px;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}

/* Links */
.add-link {
  color: $light-grey;

  &:hover {
    color: $primary;
  }
}

[draggable=true] {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.card p {
  margin: 0;
}

@mixin dropzone() {
  background-color: $light-grey;
}

.row-fluid .list-dropzone {
  width: 15px;
  padding: 0;
  background: none;
  align-self: stretch;

  &.y {
    @include dropzone();
  }
}

.card-dropzone {
  height: 10px;

  &.x {
    @include dropzone();
  }
}
.add-link{
  margin: 0;

  &.x {
    @include dropzone();
  }
}