@import "variables";
@import "animation";

/* Layout */
.main-nav {
  margin-bottom: 20px;
}

.main-container {
  margin: 4rem auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Settings panel */
#settings {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #e2e4e6;
  padding: 80px 10px 40px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
  @include default-transition;

  .color-box {
    width: 60px;
    border-radius: 3px;
    background-size: cover;
    display: inline-block;
    height: 45px;
    position: relative;
    width: 47%;

    &:nth-child(1n) {
      margin-right: 8px;
    }
  }
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="settings" when their visiblity is toggled
 * by Vue.js.
 */
.settings-enter,
.settings-leave {
  @include scale;
}


/* Boards panel */
#boards {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  background: #e2e4e6;
  padding: 80px 10px 40px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
  @include default-transition;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="settings" when their visiblity is toggled
 * by Vue.js.
 */
.boards-enter,
.boards-leave {
  @include scale;
}

pre {
  min-width: 250px !important;
  display: none;
}