@import "variables";

.overflow {
  overflow: auto;
  height: 100%;
  min-height: 800px;
}

.row-fluid{
  white-space: nowrap;
  display: flex;
  align-items: flex-start;

  article {
    width: 270px;
    max-width: 270px;
    min-height: 22px;
    display: inline-block;
    background-color: #e2e4e6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px;
    vertical-align: top;

    &:hover {
      cursor: pointer;
    }

    .title {
      font-weight: bold;
    }
  }
}

.cards {
  .card {
    $margin-vertical: 6px;
    $margin-horizontal: 8px;
    border-radius: 3px;
    //padding: 6px 8px;
    background-color: #ffffff;
    //margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    p {
      padding: $margin-vertical $margin-horizontal;
    }

    .glyphicon {
      color: transparent;
      margin-top: $margin-vertical;
      margin-right: $margin-horizontal;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      .glyphicon { color: $light-grey; }
    }
  }

  .card-input {
    resize: vertical;
  }
}
