<div class="overflow">
  <div class="row-fluid">
    <list v-repeat="list: lists" track-by="slug"></list>
    <article class="list-dropzone" v-dropzone="y: dropList($dropdata)"></article>
    <article>
      <input type="text" placeholder="Add a list..." class="form-control"
        v-model="newList"
        v-on="keyup: addList | key 'enter'">
    </article>
  </div>
</div>