<div class="overflow">
  <div class="row-fluid">

    <list v-repeat="list: lists | orderBy 'position'"></list>
    <article>
      <input type="text" placeholder="Add a list..." class="form-control"
        v-model="newList"
        v-on="keyup: addList | key 'enter'">
    </article>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    Vue.config.debug = true
  });
</script>
